body{
    height: 100vh;
    background: url(../img/reze_wallpaper.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.central{
    /* background-color: #00087a2c; */
    backdrop-filter: blur(1px);
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.central div{
    background-color: #1b1845cb;
    backdrop-filter: blur(3px);
    padding: 20px;
    border-radius: 50%;
}

.central span{
    font-size: 120px;
    color: #60ca80;
}