body{
    background: url(../image/background_menos_px.png);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 33px;
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(1, 214, 129);
}
.caxa_mae{
    background: rgba(2, 70, 93, 0.26);
    backdrop-filter: blur(5px);
    border-radius: 35px;
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
}

.caxa_mae input{
    padding: 5px;
    margin-top: 3px;
    font-size: 18px;
    background: rgb(251, 240, 225);
    color: rgb(66, 147, 150);
    border: 1.94px solid rgb(198, 21, 56);
    border-radius: 4px;
    width: 90%;
}

.caxa_mae button{
    margin-top: 7px;
    margin-left: 28%;
    width: 40%;
    font-size: 24px;
    color: rgb(2, 240, 149);
    border: 2px solid rgb(57, 20, 88);
    border-radius: 10px;
    background: rgb(29, 70, 152);
    cursor: pointer;
    &:active{
        background: rgb(20, 56, 128);
        font-size: 22px;
        color: rgb(2, 224, 139);
        transform: scale(0.95);
        border-radius: 12px;
        box-shadow: 1px 1px 1px rgb(30, 30, 30);
    }
}

.caxa_mae span{
    font-size: 35px;
    margin: 20px;
    margin-left: 30%;
    color: rgb(1, 214, 178);
}
